.header-image {
    background-image: url("/website_images/pexels-askar-abayev-community-chat\(edited\).jpg");
  }

  .content-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .content-paragraph {
    margin-bottom: 30px;
  }
  
  .content-buttons {
    text-align: left;
  }
  
  .col-md-6 img {
    width: 370px;
    height: 250px;
    border-radius: 10px;
  }