.header-image {
    background-image: url("../website_images/pexels-matheus-bertelli-join-ministry\(edited\).jpg");
  }

  .col-md-6 img {
    width: 370px;
    height: 170px;
    border-radius: 10px;
}