body {
    margin: 0;
    padding: 0;
    background-image: url('../images/Fieldbible.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

/*.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/website_images/Fieldbible.jpg');
    background-size: cover;
    background-position: center;
}

.register-form {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 60px;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 600px;
    text-align: center;
}

.logo {
    background: url("/website_images/gracewell_logo.png");
    width: 160px;
    height: 40px;
    border-radius: 31.5px;
    margin-bottom: 10px;
}
*/
.register-container {
    position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin: 60px 25px;
}

.register-form {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 60px;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    align-self: center;
    width: 700px;
    text-align: center;
}

.logo {
    background: url("../images/gracewell_logo.png");
    width: 160px;
    height: 40px;
    border-radius: 31.5px;
    margin-bottom: 10px;
    top: 50px;
}

form {
    display: flex;
    flex-direction: column;
}


label {
    font-weight: bold;
    text-align: left;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 8px;
    border: 2px solid #0000008d;
    border-radius: 5px;
    margin-bottom: 10px;
}

.radio-buttons {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

button {
    background-color: #002699;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    width: 50%;
    justify-items: center;
}

button:hover {
    background-color: #45a049;
}

h1 {
    font-size: 30px;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 15px;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 995px) {
    
}

@media (max-width: 800px) {
    
}