body {
    margin: 0;
    padding: 0;
    background-image: url('/website_images/Fieldbible.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
/*.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/website_images/Fieldbible.jpg');
    background-size: cover;
    background-position: center;
}

.register-form {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 60px;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 600px;
    text-align: center;
}

.logo {
    background: url("/website_images/gracewell_logo.png");
    width: 160px;
    height: 40px;
    border-radius: 31.5px;
    margin-bottom: 10px;
}
*/
.register-container {
    position: relative;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 60px;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 600px;
}

.logo {
    background: url("/website_images/gracewell_logo.png");
    width: 160px;
    height: 40px;
    border-radius: 31.5px;
    margin-bottom: 10px;
    text-align: center;   
    top: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {

    margin-bottom: 10px;
}

    .form-group.horizontal {
        display: flex;
        gap: 10px;
    }

        .form-group.horizontal label {
            width: 30%; /* Adjust label width as needed */
        }

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    height: 30px;
    padding: 8px;
    border: 2px solid #0000008d;
    border-radius: 0px;
}

.radio-buttons {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }

h1 {
    font-size: 30px;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 15px;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
    text-align: center;
}
